<link rel="stylesheets" type="text/css" href="application.css.scss"/>
<script type="text/javascript" src="application.js"></script>


<h1 style="color: #cc0000">New Staff</h1>

<%= render 'form' %>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%= button_to "BACK", staffs_path, :class => "button", :method => :get  %></td>